# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pytest
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytype
.pytype/

# VS Code
.vscode/

# PyCharm
.idea/

# Sublime Text
*.sublime-workspace
*.sublime-project

# Emacs
*~

# JetBrains
.idea/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
